li(id='talk_#{ talk.id }', class='talk', data-talk-source-id='#{ talk.source.id }')
    div.card
        h3.title=talk.title
        div.meta
            if talk.presenter.name !== null
                span.presenter=talk.presenter.name
            if talk.tag.length > 0
                ul.tags
                    each tag in talk.tag
                        li=tag
        img.preview(src=talk.thumbnails.default.url, alt=talk.title)
        p.description=talk.description
