li(id='talk_#{ talk.id }', class='talk', data-talk-source-id='#{ talk.source.id }')
    div.card
        h3.title=talk.title
        div.meta
            if talk.presenter.name !== null
                span.presenter=talk.presenter.name
            if talk.meta.duration !== null
                span.duration=talk.meta.duration
            if talk.tag.length > 0
                each tag in talk.tag
                    span.tag=tag
        img.preview(alt=talk.titlesrc=talk.thumbnails.default.url, height=talk.thumbnails.default.height, src=talk.thumbnails.default.url, width=talk.thumbnails.default.width)
        p.description=talk.description
